@charset "UTF-8";

@font-face {
    font-family: 'font-header' ;
    src: url("fonts/MADE\ TOMMY\ Thin\ Outline_PERSONAL\ USE.otf") format(opentype);
    font-weight: bolder;
}

@font-face {
    font-family: font-h1;
    src: url("fonts/THEBOLDFONT\ 2022.otf") format(opentype);
}

@font-face {
    font-family: 'font-p';
    src: url("fonts/BebasKai.otf") format(opentype) ;
}

:root{
--font-principal: 'font-header', ARIAL;
--font-h1:'font-h1', ARIAL;
--font-p:"font-p", ARIAL;

}

*{
    padding: 0px;
    margin: 0px;
}
body{
    background-color: black;
}
header{
    display: flex;
    align-items: center;
    background-color: black;
    width: 100%;
    position: fixed;
    
}

header  .netflix{
    width: 80px;
    padding-right: 20px;
    
    
}
nav{
    padding-right: 30px;
    
}
nav a{
    font-size:3vw;
    font-weight: bolder;
    font-family: var(--font-principal);
    color: white;
    padding-right: 1vw;
    
   
}
.navs a:hover{
    text-decoration: underline;
    font-weight: bolder;
    color: #f50000;
}
a img{
    width: 5vw;
    padding: 1vw;
}

main{
    background-image: linear-gradient(to right, #FF0000, #800000, #FF0000);
    min-width: 50px;
    text-indent: 20px;
    border-radius: 5px;
    margin: auto;
}
main h1{
    color: white;
    font-family: var(--font-h1);
    font-size: 30px;
    padding-left: 50px;
    padding-top: 100px;
}
main h2{
    color: white;
    font-size: 25px;
    font-family: var(--font-h1);
    padding-top: 20px;

}
main p{
    color: white;
    font-size: 20px;
    font-family: var(--font-p);
    padding: 10px;
}
section img{
    width: 70%;
    padding: 25px;
}
footer{
    background-color: black;
    text-align: center;
    font-family: var(--font-h1);
}




    
    